<h1> Player Name: <%= @player.name %> </h1>
<h3> Age: <%= @player.age %> </h3>
<h3> Healthy: <%= @player.healthy %>
<h3> Link to Update <%= link_to "#{@player.name}", "/players/#{@player.id}/edit" %> </h3>