<a href="/discs_manufacturers">DiscsManufacturer Index</a>

<h1><%= @discs_manufacturer.name %></h1>

<p><%= @discs_manufacturer.location %></p>

<a href="/discs_manufacturers/<%= @discs_manufacturer.id %>/edit">Edit</a>
